<div class="content">
    <app-button class="btn-default" (click)="openModal()">Abrir modal 1</app-button>
    {{mostrarModal}}

    <div class="position-relative">
        <div class="position-absolute"></div>
    </div>
    <app-modal [title]="tituloModal" [(show)]="mostrarModal" >
        <div body>
            Texto body
        </div>
        <div footer class="footer">
            <app-button class="btn-default">Close</app-button>
            <app-button class="btn-primary">Save</app-button>
        </div>
    </app-modal>
</div>